.resumeDownloadContainer{
    margin: 20px auto;
    width: fit-content;

    .resumeDownloadAnchor{
        text-decoration: none;
        
        .resumeDownloadButton{
            align-items: center;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            display: flex;
            gap: 8px;
            height: 40px;
            padding: 8px;
        }
    }
}