.container{
    margin: auto;
    padding: 30px 0;
    width: 90vw;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.hr{
    background-color: #2f343b;
    height: 3px;
    margin: 10px auto;
    width: 100%;
}

.headerLeft{
    display: flex;
    gap: 1vw;
}

.headerIcon{
    color: #12f6d5;
}

.headerName{
    color: white;
    font-size: 18px;
    font-weight: 500;
}